# Copier vers .env puis adapter.
POSTGRES_USER=game_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=racing_game_db

# Ports publies sur l'hote (les ports internes restent 5432/6379/8080/3000/8999)
POSTGRES_PORT=6600
REDIS_PORT=6601
BACKEND_PORT=6602
FRONTEND_PORT=6603
GODOT_PORT=6604
WEBCLIENT_PORT=6605
